* {
    margin-top:0;
}

body {
    background-color: #f9f7f3;
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.nav_bar {
    position: sticky;
    top:0;
    background: #eddea4;
    color: #f1f1f1;
}

.blogpost_contents {
    display: flex;
}

article{
    background-color: #0fa3b1;
    border-radius: 15px;
    padding: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
    width: 65%;
    margin-left: 15px;
}

img[src*=".jpg"] {
    width: 40%;
}

img[src*=".png"] {
    width: 40%;
}

img {
    border-radius: 15px;
}

p {
    max-width: 80ch;
    margin-right: 35px;
}

.nav_list {
    display: flex;
    gap: 50px;
    list-style: none;
    padding: 15px;
}

h1 {
    margin-left: 15px;
}

#subtitle {
    margin-left: 15px;
}

h2 {
    margin-left: 15px;
}

form {
    margin-left: 15px;
    margin-bottom: 25px;
}

.about {
    display: flex;
}

section{
    margin-right: 15px;
}

.contact {
    background-color: #0fa3b1;
    border-radius: 15px;
    padding: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
    width: 95%;
    margin-left: 15px;
    display: flex;
}